{% extends 'base.html.twig' %}

{% block title %}Welcome to your profile!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include('home/home.style.html.twig') %}
{% endblock %}

{% block content %}
    <div>
        hello
        <div class="mb-3">
            You are logged in as {{ app.user.username }}
        </div>
    </div>

{% endblock %}