


:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.truc,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
}

//.user-heading {
//    font-weight: 300;
//}

.btn-user {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
}
.container{ }
.watch-card{margin-top:50px;margin-bottom:50px; text-align: -webkit-center;}
.watch-card > div{max-width:300px;}
.watch-card:hover .user-title a, .watch-card:hover .listing-tab .tab-content ul li a{color:#167ac9;}
.listing-tab .tab-content ul li:hover{cursor:pointer;text-decoration:underline;}
.user-title{padding:15px;background:#fff;}
.user-title a{test-decoration:none;font-size:21px;font-family:arial, san-serif; color:#555;}
.user-title a:hover{color:#16a3de;}
.user-collage img{max-width:100%;}
.user-collage{position:relative;max-height:150px;overflow:hidden;}
.user-collage,.user-collage div{padding:0;}
span.play-mix {
    position: absolute;
    top: 38%;
    z-index: 9;
    left: 30%;
    border: 3px solid rgba(255,255,255,.25);
}
span.btn.play-mix-btn {
    background-color: #000;
    padding: 5px 12px;
    border:none;
    border-radius: 2px;
    box-shadow:0 0 70px rgba(255,255,255,.5);
}
.collage-rhs img{margin-top:-5px;}
span.play-mix-btn:hover {
    box-shadow: 0 0 80px rgba(255,255,255,.9);
}
.listing-tab{
    padding:0;
}.related-artist .artist-next{padding-left:0;}
.related-artist .col-md-12{padding-right:0;}
.play-mix-btn span {
    color: #1775bc;
}
.related-artist img{width:100%;}
.related-artist h3 {
    font-size: 17px;
    margin-left: 15px;
    margin-top: 9px;
}.related-artist{overflow:hidden;padding-bottom:10px;}
.listing-tab .tab-content ul{padding:0;margin:0;}
.listing-tab .tab-content ul li {
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 8px;
}.listing-tab .tab-content ul li {
     list-style-type: none;
     border-bottom: 1px solid #eee;
     padding: 8px;
     padding-left: 20px;
     font-size: 13px;
     color: #666;
 }.listing-tab .tab-content ul li a{text-decoration:none; color:#666;}
.listing-tab .tab-content ul li span{display:inline-block;float:right;padding-right:10px;}
.listing-tab .nav-tabs>li,.nav-tabs>li a:hover{margin-bottom:0;background:none;}
.listing-tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{border:none;background:none;}
.listing-tab .nav-tabs>li>a:hover{ border-color:none ; color:red;}
.listing-tab .nav-tabs>li>a{border:0;padding:17px 0 7px;color:#333;margin-left:15px;}
.listing-tab .nav-tabs>li.active>a{border-bottom:2px solid #bb0000;color:#000;}
.listing-tab{background-color:#fff;}